@charset "UTF-8";
body{
    background-color: rgb(250, 249, 247);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20;
}

h1{
    color: azure;
    background-color: maroon;
}
h2{
    color: blue;
    background-color: orange;
}

p{
    text-align: center;
}
